<html>
  <head>
     <title>Registration form Form</title>
     <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>

    <div class="container"><br>
      <center>
        <h2>Bootstap using Flask demo</h2>
      </center>
    </div>

    <div class=container"><br>
    <div class="row align-items-center justify-content-center">
    <div class="col-md-4">
      <form  action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">

           <label for="name">Name:</label>
           <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            <br>
           <label for="surname">Surame:</label>
           <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname">
            <br>
            <label for="name">Mobile:</label>
           <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile">
            <br>
            <label for="name">Address:</label>
           <input type="text" class="form-control" id="address" name="address" placeholder="Address">
	       <br>
	       <label for="email">Email:</label>
	       <input type="text" class="form-control" id="email" name="email" placeholder="Your email address.">
	       <br>
	      <label for="password">Password:</label>
	      <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">

	</div>
        <br>

        <center>
          <button type="submit" class="btn btn-success">Submit</button>
        </center>
      </form>

      <br>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-danger">
                <strong>Error: </strong> {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}

    </div>
    <br>
    </div>
    </div>
  </body>
</html>